#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#battery {
  font-family: System-Regular;
  font-size: 27;
  width: 100%;
  fill: white;
  text-anchor: middle;
  text-length: 99;
}

.loading {
  opacity: 0.5;
}
